<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OltcoApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />


        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="description" content="" />

        <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
        <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Asap:400,700">
        <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/9c40848d-3373-4353-9655-ad1e0832ef53.css" />
        <link rel="stylesheet" type="text/css" href="~/css/fonts.css" />
        <link rel="stylesheet" type="text/css" href="~/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="~/css/base.css" />
        <link rel="stylesheet" type="text/css" href="~/css/styles.css?v=2" />
        <link rel="stylesheet" type="text/css" href="~/js/fancyBox/source/jquery.fancybox.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/js/royalslider/royalslider.css" />
        <link rel="stylesheet" type="text/css" href="~/js/royalslider/skins/default/rs-default.css" />
        <link rel="stylesheet" type="text/css" href="~/js/royalslider/skins/universal/rs-universal.css">
        <link rel="stylesheet" type="text/css" href="~/js/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="~/js/jssocials/jssocials.css" />
        <link rel="stylesheet" type="text/css" href="~/js/jssocials/jssocials-theme-flat.css" />

 </head>
<body>

        <!-- start of mobile header --><div id="mobileheader" class="group mobileOnly"><p class="mobileh1"><a href="/" title="Oltco"><img src="~/images/mobile-logo.png" width="152" height="40" alt="Oltco Resin Gravel Franchise" /></a></p><div id="menubuttons" class="stopshrinking"><ul class="group"><li class="menu"><button href="#mobileNav" class="c-hamburger c-hamburger--htx impatient"><span>Toggle Navigation</span></button></li><li class="rightbuttons"><ul class="group"><li><a href="tel:01637839000"><img src="/_images/call.png" width="70" height="70" alt="Contact Us" /></a></li></ul></li></ul></div></div><div class="mobileheaderpad mobileOnly"></div><!-- end of mobile header -->
        <div class="pagewrap group">
            <div class="stdpage--header residental">
                <header class="headerwrap dtonly">
                    <div class="fixedblock">
                        <div class="topbar">
                            <div class="contain1440 group">
                                <div class="logowrap"><a href="/" title="Resin Bound Gravel Franchise"><img src="~/images/logo-franchise.png" width="100%" alt="Oltco Resin Bound Gravel Franchise" /></a></div>
                                <ul>
                                    <li class="ln1">Resin Bound Gravel Franchise</li>
                                    <li class="ln2"><a href="tel:01637839000">+44 (0)1637 839000</a></li>
                                    <li class="ln3"><a href="mailto:franchise@oltco.co.uk">franchise@oltco.co.uk</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="navwrap">
                            <div class="contain1440">
                                <nav>
                                    <ul class="nav group">
                                        <li class="nav-item"><a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a></li>
                                        <li class="nav-item"><a class="nav-link text-light" asp-area="" asp-page="/quotation">Quotation</a></li>
                                        <li class="nav-item"><a class="nav-link text-light" asp-area="" asp-page="/Privacy">Privacy</a></li>
                                        <!--    
                                        <li><a href="https://franchise.oltco.co.uk//why-resin-bound-franchise/"><span>Why<br />franchise?</span></a></li>
                                        <li><a href="https://franchise.oltco.co.uk//why-oltco/"><span>Why<br />Oltco?</span></a></li>
                                        <li><a href="https://franchise.oltco.co.uk//about-oltco/"><span>The<br />Team</span></a></li>
                                        -->


                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="pagetoppad"></div>
            </div>
            <div class="pagetitlewrap">
                <div class="pagetitle">
                    <div class="contain1440 nopad">
                        <div class="title">
                            <h1><span class="text">Franchise Portal Login</span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer>
            <div class="footerwrap">

                <div class="subscribewrap">
                    <div class="contain1440" style="overflow: visible;">
                        <div class="subscribe group twocolwrap table">
                            <div class="col1 col">
                                <label for="subemail" class="din--light">Subscribe to our Newsletter</label>
                            </div>
                            <div class="col2 col">
                                <div class="fieldwrap"><input name="subsemail" type="text" id="subsemail" value="" placeholder="Enter Email Address..."></div><div class="buttonwrap"><input name="subsbutton" type="button" id="subsbutton" value="subscribe"></div>
                                <div class="subsmsg"><div class="subsmsgtext">Thank you, you have been added to our mailing list.</div></div>
                                <p style="font-size:12px; line-height: 18px; padding-top:10px;">Please refer to our <a href="/legal/privacy-policy/" target="_blank">Privacy Policy</a> page for information on how your personal data is handled in line with GDPR legislation.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)
    </body>
</html>
