@charset "utf-8";

* { 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
}

body {
	margin: 0px;
	padding: 0px;
	position: relative;
	height: 100%;
	width: 100%;
	color: #001725;
}

@media only screen and (min-width: 910px) {
	.pagewrap {
		padding-top: 0px;
	}	
}

.mobileOnly, .mbonly {
	display: block;
}
.desktopOnly, .dtonly {
	display: none;
}

.mobileOnlyInline, .mbonlyinline {
	display: inline-block;
}
.desktopOnlyInline, .dtonlyinline {
	display: none;
}

.underline {
	text-decoration:underline;
}

.sticky .pagetoppad {
	display: block;
	height: 0px;
}

@media only screen and (min-width: 910px) {
	.mobileOnly, .mbonly {
		display: none;
	}
	.desktopOnly, .dtonly {
		display: block;
	}
	.mobileOnlyInline, .mbonlyinline {
		display: none;
	}
	.desktopOnlyInline, .dtonlyinline {
		display: inline-block;
	}
	.sticky .pagetoppad {
		display: block;
		height: 160px;
	}
}

/* loader */
.loader {
	display: none;
	position: fixed;
	z-index: 999999;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	background-image: url(../_images/loader.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

body.loading {
    overflow: hidden;   
}
body.loading .loader {
    display: block;
}

#pageslide {
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 9999;
    width: 291px;
	padding: 0;
    background-color: #f2f2f2;
	overflow:auto;
}

#mobileNav {
	display: none;
	background-color: #f2f2f2;
}

#mobileNav .content {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	display:block;
}

#mobileNav .nav {
	padding-top: 72px;	
}

#mobileNav .nav.other {
	padding-top: 10px;	
}

#mobileNav li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #414141;	
}

#mobileNav .nav.other li {
	border: none;
}

#mobileNav li ul li:last-child {
	border-bottom: none;	
}

#mobileNav .nav li a {
	font-size: 17px;
	color: #414141;
	text-decoration: none;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

#mobileNav .nav li a.on {
	font-weight: 700;
	color: #308b66;	
}

#mobileNav .nav li.parentNav ul {
	display: none;	
}

#mobileNav .nav li.parentNav.on ul {
	display: block;	
}

#mobileNav .nav li.parentNav a {
	background-image: url(../_images/mobile-nav-down.png);
	background-repeat: no-repeat;
	background-position: right 15px;
	background-size: 15px 10px;		
}

#mobileNav .nav li.parentNav a.open {
	background-image: url(../_images/mobile-nav-up.png);
}

#mobileNav .nav li.parentNav ul li a {
	background-image: none;	
}

#mobileNav .nav li ul li {
	border-bottom: none;
}

#mobileNav .nav li ul li a {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
	font-size: 15px;
	background-image: none;
}

#mobileNav .nav li ul li a:first-child {
	padding-top: 0px;
	padding-bottom: 5px;
}

#mobileNav .nav li ul li:last-child a {
	padding-top: 0px;
	padding-bottom: 15px;
}


#mobileNav .nav li ul li.first a {
	padding-top: 10px;
}

#mobileNav .nav li ul li.last a {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #414141;
	padding-bottom: 10px;
}

#mobileheader {
	z-index: 9998;
}

#mobileheader .mobileh1 {
	display: table;
	height: 70px;
	width: 100%;
	min-width: 320px;
	background-color: #0f0f0f;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #3ab282;
}

#mobileheader .mobileh1 a {
	display: table-cell;
	height: 60px;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}

#mobileheader .mobileh1 img {
	display: inline-block;
	line-height: 47px;
	vertical-align:middle;
}

#mobileheader #menubuttons {
	background-color: #f2f2f2;
	display: block;
	height: 70px;
	position: relative;
	z-index: 10000;
	margin-right: 0px;
	margin-left: 0px;
	left: 0px;
	right: 0px;
	top: ;
	width: 100%;
}
#mobileheader #menubuttons ul li.menu {
	display: block;
	float: left;
}


#mobileheader #menubuttons ul li.rightbuttons {
	display: block;
	float: right;
	margin: 0px;
	padding: 0px;
	position:relative;
}

#mobileheader #menubuttons ul li.rightbuttons ul {
	margin: 0;
}

#mobileheader #menubuttons ul li.rightbuttons ul li {
	display: block;
	float: left;
	height: 70px;
	width: 70px;
	position: relative;
}
#mobileheader #menubuttons li.rightbuttons ul li a {
	display: block;
	height: 70px;
}

.mobileheaderpad {
	display: block;
	height: 71px;
}

	
@media only screen and (min-width: 910px) {
	.mobileheaderpad {
		display: none;
	}
}
.mbnavfooter {
	color: #414141;
	padding-top: 40px;
	font-size: 13px;
	padding-bottom: 20px;
}

.mbnavfooter a {
	color: #414141;
	text-decoration: none;
}
.mbnavfooter .logowrap {
	display: block;
	width: 174px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
}



.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 70px;
  height: 70px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 32px;
  left: 15px;
  right: 15px;
  height: 5px;
  background: #3ab282;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #3ab282;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

.c-hamburger--htx {
  background-color: #f2f2f2;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #f2f2f2;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}


@media only screen and (min-width: 910px) {
	.pagewrap.headerpad {
		margin-top: 132px;
	}
}

.contain510 {
	margin: 0px;
	padding: 0px;
	width: 100%;
	max-width: 510px;
	margin-left:auto;
	margin-right: auto;
}

.contain940 {
	margin: 0px;
	padding: 0px;
	width: 100%;
	max-width: 940px;
	margin-left:auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.contain1240 {
	margin: 0px;
	width: 100%;
	max-width: 1240px;
	margin-left:auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.contain1340 {
	margin: 0px;
	width: 100%;
	max-width: 1340px;
	margin-left:auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.contain1440 {
	margin: 0px;
	width: 100%;
	max-width: 1440px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left:auto;
	margin-right: auto;
	overflow: hidden;
}

@media screen and (min-width:500px)  {
	.contain940 {
		max-width: 980px;
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.contain1240 {
		max-width: 1280px;
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.contain1340 {
		max-width: 1380px;
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.contain1440 {
		max-width: 1480px;
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.contain1440.withoverflow {
		overflow: visible;
	}
}

.nopad {
	padding-left: 0px!important;
	padding-right: 0px!important;
}

.centered {
	text-align: center;
}

.alignleft {
	text-align: left;
}

.alignright {
	text-align: right;
}

.stdpadtop {
	padding-top: 30px;
}

.stdpadbottom {
	padding-bottom: 30px;
}

.stdpad {
	padding-left: 20px;
	padding-right: 20px;
}

.doublepadtop {
	padding-top: 50px;
}

.doublepadbottom {
	padding-bottom: 50px;
}

@media screen and (min-width:768px)  {
	.doublepadtop {
		padding-top: 60px;
	}
	
	.doublepadbottom {
		padding-bottom: 60px;
	}
}

.cycle-pager {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 30px;
}

@media screen and (min-width:910px)  {
	.cycle-pager {
		display: none;
	}
}

.cycle-pager span {
	display: inline-block;
	text-indent: -9999px;
	width: 16px;
	height: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	border: solid 1px #fff;
	background-color: #fff;
	cursor: pointer;
	margin-left: 5px;
	margin-right: 5px;
}

.cycle-pager span:hover {
	border: solid 1px #1c6047;
	background-color: #fff;
}

.cycle-pager span.cycle-pager-active {
	border: solid 1px #1c6047;
	background-color: #1c6047;
}

.cycle-prev, .cycle-next {
	background-repeat: no-repeat;
	display: block;
	height: 20px;
	width: 20px;
	background-size: 20px 20px;	
	position: absolute;
	z-index: 500;
	top: 50%;
	margin-top: -10px;
	cursor: pointer;
}

.cycle-prev {
	background-image: url(../_images/thumbleft.png);
	left: 0;	
}

.cycle-next {
	background-image: url(../_images/thumbright.png);
	right: 0;
}



.slideshowwrap {
	position: relative;
	display: block;	
	overflow: hidden;
}



.royalSlider .rsABlock {
	left: 0;
	top: 0;
	position: absolute;
	z-index: 15;
	bottom: 0;
	right: 0;
}

.rsDefault.rsHor .rsArrowRight {
    right: 17px!important;
    top: 0;
}

.rsDefault.rsHor .rsArrowLeft {
    left: 17px!important;
    top: 0;
}

input[type=checkbox].css-checkbox {
position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
padding-left:30px;
height:25px; 
display:inline-block;
line-height:25px;
background-repeat:no-repeat;
background-position: 0 0;
vertical-align:middle;
cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
background-position: 0 -25px;
}
label.css-label {
background-image:url('/_images/checkbox.png');
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}