@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the start of Oltco's Quotation Web Application</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Calculate an estimated quote for an Oltco resin bound installation! No fuss</p>
</div>

<div class="contain_1440">

        <div class="contactform stdtext">
            <div class="twocolwrap table" style="height:auto;">
                <div class="col col1">
                    <div class="containerpad">
                        <div class="fieldgroup">
                            <h3>Customer Details</h3>
                            <div class="field"><label for="firstname">Customer Name *</label><div class="fieldwrap"><input name="firstname" type="text" id="firstname" class="stdfield capitalise" data-required="Y" maxlength="45" value=""></div></div>
                            <div class="field"><label for="addr1">Address</label><div class="fieldwrap"><input name="addr1" type="text" id="addr1" class="stdfield capitalise" data-required="N" maxlength="250" value=""></div></div>
                            <div class="field"><label for="postcode">Post Code</label><div class="fieldwrap"><input name="postcode" type="text" id="postcode" class="stdfield uppercase" data-required="N" maxlength="10" value=""></div></div>
                            <div class="field"><label for="tel">Telephone No. *</label><div class="fieldwrap"><input name="tel" type="text" id="tel" class="stdfield" data-required="N" maxlength="45" value=""></div></div>
                            <div class="field"><label for="email">Email Address *</label><div class="fieldwrap"><input name="email" type="text" id="email" class="stdfield" data-required="N" maxlength="65" value=""></div></div>
                        </div>
                    </div>
                </div>
                <div class="col col2">
                    <div class="containerpad">
                        <div class="fieldgroup">
                            <h3>Project</h3>
                            <div class="fieldnote">What is the approximate flooring area in metres squared? (m<sup>2</sup>)?</div>
                            <div class="field hidelabelonmobile"><label for="area">Area (m<sup>2</sup>)</label><div class="fieldwrap"><input name="area" type="text" id="area" class="stdfield capitalise" data-required="N" maxlength="25" value=""></div></div>
                            <div class="fieldnote">What is the make up of the surface to cover (i.e. concrete, soil)?</div>
                            <div class="field hidelabelonmobile"><label for="surface">Surface</label><div class="fieldwrap"><input name="surface" type="text" id="surface" class="stdfield capitalise" data-required="N" maxlength="250" value=""></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

