@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="text-center">
    <h1 class="display-4">Welcome to the start of Oltco's Quotation Web Application</h1>
    <p>Calculate an estimated quote for an Oltco resin bound installation! No fuss</p>
</div>

<div class="section quoteformwrap" id="row22889" style="padding-bottom:100px;">
    <form action="?send=true" method="post" class="quoteform" id="quoteForm">
        <div class="contain1440">
            <div class="textblock">
                <div class="text">

                    <p>Enter your email address and password to login to the portal.</p>
                    <label for="email" class="stdlabel">Email Address</label><input name="email" class="stdfield" id="email" value="" maxlength="50" data-required="Y" type="text">
                    <label for="password" class="stdlabel">Password</label><input name="password" class="stdfield" id="password" value="" maxlength="50" data-required="Y" type="password">
                    <div class="captchawrap">
                        <div class="securitycheck">
                            <p>We're pretty sure that you're not a spam bot or a hacker, but just to be certain please enter the characters in the image below.</p>
                            <div class="codeswrap">
                                <div class="col col1"><div class="whitewrap"><img src="/_lib/captchawhite.asp" alt="" id="imgCaptcha" /></div><span class="stext"><a href="javascript:void(0)" onClick="RefreshImage('imgCaptcha')" class="refresh">Refresh Code</a></span></div>
                                <div class="col col2" style="line-height:18px;">=</div>
                                <div class="col col3"><div class="whitewrap"><input name="captchacode" class="" id="captchacode" maxlength="6" tabindex="3" autocomplete="off" type="text"></div><span class="stext">Enter Code</span></div>
                            </div>
                        </div>
                    </div>
                    <input class="button blue" value="Submit" id="loginbutton" style="margin-top:20px;" type="submit">
                </div>
            </div>
        </div>
    </form>
</div>
